body {
    font-family: Arial, sans-serif;
}

.foto {
    text-align: center;
}

#contato {
    margin-top: 50px;
}

#desafios {
    margin-top: 50px;
}

#desafios h2 {
    border-bottom: 3px solid black; 
}

.links a {
    color: white;
    margin-right: 25px;
}

.img-fluid {
max-width: 300px;
}
